<h1>Library Books</h1>
<%= link_to "Add Book", new_book_path %>

<ul>
  <% @books.each do |book| %>
    <li>
      <%= link_to book.title, book_path(book) %> - <%= book.status %>
    </li>
  <% end %>
</ul>

